In [1]:
import pandas as pd
marathon_2015_2017 = pd.read_csv("marathon_2015_2017.csv")
import matplotlib.pyplot as plt

In [2]:
record = pd.DataFrame(marathon_2015_2017, columns=['5K','10K','15K','20K', \
    'Half','25K','30K','35K', '40K','Official Time']).sort_values( \
                                        by=['Official Time'], ascending=True)
record

,5K,10K,15K,20K,Half,25K,30K,35K,40K,Official Time
0,883,1783,2697,3629,3842,4567,5520,6479,7359,7757
53228,925,1828,2744,3675,3875,4619,5581,6499,7373,7777
1,883,1783,2698,3628,3841,4567,5519,6479,7362,7788
53229,924,1827,2744,3675,3875,4619,5581,6499,7394,7798
2,883,1783,2697,3629,3842,4567,5520,6479,7381,7822
...,...,...,...,...,...,...,...,...,...,...
26596,2944,6012,9211,12701,13415,16160,19871,23615,27338,28837
26597,2414,5298,8806,12521,13236,16566,20624,24691,27688,29161
53225,2542,5389,8629,12294,13069,15953,19767,24124,28461,30207
53226,2158,4509,7089,10155,10822,14835,19679,24591,28752,30309
53227,2692,5731,9658,16180,17237,0,27398,0,0,37823